.process {
    padding-top: 50px;
    padding-bottom: 150px;
    background-image: url(/img/10.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
}
.process__body{
    text-align: center;
}
.process__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;   
    color: $text-color;
}
.process__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;    
    color: $text-color;
    width: 540px;
    margin-left: 270px;
    margin-bottom: 35px;
}
.process__list{
    @include important_text;
    justify-content: space-evenly;
    margin-bottom: 80px;
}
.item__div{
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-bottom: 30px;
}
.item__div_{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.item__text{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    color: #2F281E;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
    border-radius: 26.5px;
    padding: 15px 25px;
}
.process__btn{
    background: $btn_color;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 15px 30px;
}

@media screen and (max-width: 411px) {
    .process__text{
        margin-left: 0;
        width: 338px;
    }
    .process__list{
        flex-direction: column;
    }
    .item__div{
        margin-top: 30px;
    }
    .process__items{
        flex-direction: column-reverse;
    }
}